/* You can add global styles to this file, and also import other style files */
@import '~bulma/sass/utilities/all';
@import '~bulma/sass/base/all';
@import '~bulma/sass/grid/all';
@import '~bulma/sass/helpers/all';
@import '~bulma/sass/layout/all';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/image';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.label {
  font-weight: bold;
}
